@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,300);

body
{
    font-family: Roboto,'Roboto', Helvetica, sans-serif, monospace;
    background-color: #555;
    text-align:center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 8px;
    color: #FFF;
}

h1
{
    text-transform: uppercase;
    font-size: 8em;
    font-weight: 800;
    letter-spacing: 5px;
    color: #FFF;
    margin-bottom: -8px;
}

h2
{
    text-transform: uppercase;;
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: -8px;
}

h4
{
    margin-top: 5px;
    font-weight: normal;
}

#Spacing
{
    padding-right: 15%;
    padding-left: 15%;
}

#Game
{
    margin-right: 10%;
    margin-left: 10%;
}

#Window
{
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #6dbdf4;
}

#Full
{
    margin: 0 auto;
    width: 90%;
    background-color: #CCC;
}

#Controls
{
    padding-top: 10px;
    font-style: italic;
    color: #FFF;
}

#deaths
{
    font-weight: normal;
}

xmp
{
    /* Make code blocks, on a grey background with a mechanical font */
    font-family: monospace;
    white-space: pre-wrap;
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
    padding-left: 10px;
    background-color: #4F4F4F;
    color: #FFF;
}

button
{
    width: 140px;
    height: 50px;
    font-weight: bold;
    font-size 18px;
    background-color: #E7E7E7;
    border: none;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 20px;
}

footer
{
    padding-top: 60px;
    font-style: italic;
    font-weight: 400;
    color: #FFF;
}
